body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  
  .login-container h2 {
    text-align: center;
    color: #007bff;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .login-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .login-form input[type="submit"]:hover {
    background-color: #007bff;
  }

  .abmeldenBtn{
    position: fixed; 
    bottom: 10%; 
    right: 5%;
    background-color: #59CB86;
    text-decoration: none;
    box-shadow: none;
    border: none;
    padding-top:1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 10px;
    font-size: small;
    color: white;
  }
  